<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title"> sobre</h2>
            <p class="footer__about-text">
                Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi!Não sou faixa preta cumpadi, sou preto inteiris, inteiris.Copo furadis é disculpa de bebadis, arcu quam euismod magna.Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
                <ul>
                    <li> <i class="fa-solid fa-envelope"></i> email@email.com</li>
                    <li> <i class="fa-solid fa-phone"></i> (00) 90000-0000</li>
                    <li> <i class="fa-brands fa-whatsapp"></i> (00) 0000-0000</li>
                </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>